:root {
  --cream: #fffbf0;
  --white: #ffffff;
  --dark-navy: #363958;
  --charcoal-gray: #3c3c3c;
  --very-light-gray: #f1f1f1;
  --golden-yellow: #fabe4c;
  --olive-green: #a4bc46;
  --dark-olive-green: #85a019;
}
