@use "../utilities/" as *;

.about {
  .container {
    flex-direction: column;

    @include breakpoint-up(large) {
      flex-direction: row;
    }
  }

  &__text {
    flex: 1;
    order: 1;
    margin-block-start: 3.25rem;
    text-align: center;

    @include breakpoint-up(large) {
      order: 0;
      margin-block-start: 0;
      text-align: left;
    }
  }

  &__info {
    width: 100%;
    padding: 1.5rem 1.75rem;
    flex-direction: column;
    border-radius: 1.25rem;
    box-shadow: 0 0.25rem 1.5rem rgba(30, 40, 90, 0.08);

    @include breakpoint-up(large) {
      width: 85%;
      flex-direction: row;
      padding: 1.375rem 1.75rem;
    }

    &:not(:last-child) {
      margin-block-end: 1.75rem;

      @include breakpoint-up(large) {
        margin-block-end: 1.25rem;
      }
    }

    &__image {
      img {
        width: 5rem;
      }
    }

    &__text {
      margin-inline: 0;

      @include breakpoint-up(large) {
        margin-inline: 2.25rem;
      }

      h4 {
        font-size: 1.5rem;
        color: var(--dark-navy);
      }

      p {
        line-height: 1.6;
        font-size: 1.0625rem;
        margin-block-start: 0.625rem;
      }
    }
  }

  &__image {
    flex: 1;
    order: 0;

    @include breakpoint-up(large) {
      order: 1;
    }

    img {
      display: block;
      width: 90%;
      height: auto;
      margin: 0 auto;
      object-fit: cover;

      @include breakpoint-up(medium) {
        width: 80%;
      }

      @include breakpoint-up(large) {
        width: 100%;
      }
    }
  }
}
